# IDE
.vscode

# Logs
logs
*.log
data

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
cypress/videos
cypress/screenshots
cypress/test-reports
cypress.env.json